@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}
*::-webkit-scrollbar {
    width: 16px;
}
*::-webkit-scrollbar-track {
    background: #6C8C74;
}
*::-webkit-scrollbar-thumb {
    background-color: #F2CA99;
    border-radius: 8px;
    border: 4px solid #6C8C74;
}
body {
  background-color: #6C8C74;
  overflow-x: hidden;
}
.flex-container i {
  text-decoration: underline;
  color: #F2CA99;
}
h1 {
  font-family: Epilogue;
  text-align: center;
  font-size: 5em;
  letter-spacing: 2px;
  color: #000000;
}
.green, .red {
  text-align: center;
  font-size: 3em;
  padding: 40px;
  border-radius: 20px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
h2 {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 800;
  color: #000000;
}
.landing h1, h1.four {
  font-size: 7em;
}
@media (max-width: 920px) {
  h1 {
    font-size: 4em;
  }
  .landing h1, h1.four {
  font-size: 5em;
}
}
@media (max-width: 620px) {
  h1 {
    font-size: 3em;
  }
  .landing h1, h1.four {
  font-size: 4em;
}
}
.link-wrapper {
  display: inline-block;
  width: 13em;
  text-align: center;
  margin-right: 1.4em;
}
nav a {
  font-family: Epilogue;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
}
nav a, .color-it {
	background-image: linear-gradient(to bottom, transparent 65%, #3E594F 0);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	text-decoration: none;
	transition: background-size .4s ease;
}
nav a:hover, .color-it:hover {
	background-size: 100% 100%;
	cursor: pointer;
}
li {
    list-style: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 2em;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    
}
.nav-menu {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 1000px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0.1rem;
        flex-direction: column;
        background-color: rgba(236, 164, 122, 0.85);
        width: 100%;
        height: 100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 2em;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }   
}
.landing {
  padding: 3em 4em 3em 4em;
  max-height: 100vh;
}
.center2 {
  display: grid;
  align-items: center;
  justify-content: center;
}
.color-it-without-hover {
  background-image: linear-gradient(to bottom, transparent 65%, #3E594F 0);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-decoration: none;
	transition: background-size .4s ease;
}
.landing p {
  font-family: helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #000000;
  padding: 20px;
}
p {
  font-family: helvetica, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: justify;
  color: #000000;
  padding: 5px;
}
p a {
  color: #F2CA99;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#form input {
  height: 30px;
  padding: 15px;
  outline: none;
  font-size: 1.1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#form select {
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
}
#form button {
  border-radius: 20px;
  padding: 25px;
  border: 2px solid #6C8C74;
  outline: none;
  font-size: 1.3em;
  cursor: pointer;
  transition: .5s;
}
#form button:hover {
  background-color: #6C8C74;
}
.four {
  padding: 20px;
  line-height: 1.4;
  color: #F2CA99;
}
a.four {
  font-family: 'Epilogue';
  font-size: 2rem;
  color: #000 !important;
  text-decoration: none;
}
a.four:hover {
  text-decoration: underline;
}
.flex-container {
  margin-top: 3em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  display: -webkit-flex;
  display: flex;
}
.container {
  margin-top: 3em;
  padding: 4em 2.5em 2.5em 4em;
}
.flex-container section {
  -webkit-flex: 1;
  flex: 1;
  margin: 10px;
  border-radius: 5px;
  padding: 15px;
}
.flex-container .col-2 {
  -webkit-flex: 2;
  flex: 2;
}
@media screen and (max-width: 700px) {
  .flex-container {
     -webkit-flex-direction: column;
     flex-direction: column;
 }
}
.color-container {
  background-color: #F2CA99;
  padding: 40px 20px 40px 20px;
}
img {
  max-width: 100%;
}
.flex-container img {
  border-radius: 66% 34% 85% 15% / 30% 78% 22% 70% ;
}
a.color-it {
  color: #3E594F;
}
p {
  line-height: 1.5;
}
